
.shoes-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:350px 300px;
    grid-auto-flow: dense;
    grid-gap: 10px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
   
}
.item-trainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: slategray;
    border-radius: 10px;
    color:#fff;
  
    
}
.item-tshirt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    color: #fff;
}
.item-trainer .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}
.item-tshirt .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.item-trainer .desc {
    background-color: royalblue;
    
}
 .item-trainer .desc h1{
    padding-left: 30px;
    margin-top: 40px;
} 
.item-trainer .desc h3{
    padding-left: 30px;
    margin-top: 40px;
} 
.item-trainer .desc .cta{
    padding-left: 30px;
    margin-top: 40px;
} 
.item-trainer .image {
    background-color: red;
    
}
.item-tshirt .desc {
    background-color: rgb(71, 15, 85);
}
.item-tshirt .desc h1{
    padding-left: 30px;
    margin-top: 40px;
}
.item-tshirt .desc h3{
    padding-left: 30px;
    margin-top: 40px;
}
.item-tshirt .desc .cta{
    padding-left: 30px;
    margin-top: 40px;
}
.item-tshirt .image {
    background-color: rgb(171, 173, 24);
}
.cta{
    width:fit-content;
    height: 50px;
    border: none;
}
.cta button{
    width: 100%;
    height: 100%;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
/* Media Query */
@media (max-width:700px) {
    .item-trainer .desc h1{
        font-size: 12px;
    }
    .item-tshirt .desc h1{
        font-size: 12px;
    }
    .shoes-container{
        grid-gap: 0px;
    }
    .item-trainer .desc h1{
        padding-left: 0px;
        margin-top: 20px;
    }
    .item-trainer .desc h3{
        padding-left: 0px;
        margin-top: 20px;
    }
    .item-trainer .desc .cta{
        padding-left: 0px;
        margin-top: 20px;
    }
    .item-tshirt .desc h1{
        padding-left: 0px;
        margin-top: 20px;
    }
    .item-tshirt .desc h3{
        padding-left: 0px;
        margin-top: 20px;
    }
    .item-tshirt .desc .cta{
        padding-left: 0px;
        margin-top: 20px;
    }
}

@media (max-width:500px) {
    .shoes-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows:250px 250px;
    }

}