.sideAvertContainer{
    /* width: 20%; */
    height: 500px;
    border: 2px;
    margin-top: 20px;
    margin-left: 2%;
  
}
.advert1{
    width: 100%;
    height: 240px;
    background-color: tomato;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.advert2{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    background-color: blueviolet;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}


@media (max-width:900px) {
    .sideAvertContainer{
        display: none;
    }
}