.card{
   margin-top: 30px;
   width:300px;
   height: 300px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
   margin-left: 1%;
   border-radius: 5px;
   position: relative;
   transition: 1s;

}


.product-Image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
.name-price{
    display: flex;
    justify-content: space-between;
}
.name-price .name{
    margin-left: 5%;
}
.name-price .price{
    margin-right: 5%;
}
.star-addcart{
    display: flex;
    justify-content: space-between;
}
.star-addcart .star{
    margin-left: 5%;
}
.star-addcart .addcart{
    margin-right: 5%;
    width: 100px;
   height: 30px;
   
    
}
.star-addcart .addcart button{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
   
}
.star-addcart .addcart button:hover{
    background-color: var(--hovercolor);
}
