
.shirt-wrapper{
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.shirt-container{
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
 
 .shirt-container .productImage{
     height: 70%;
     width: 100%;
     overflow: hidden;
 }
 .shirt-container .productName{
     display: flex;
     justify-content: space-between;
     padding: 0px 10px;
 }
 
 .shirt-container .star-cart{
    display: flex;
    justify-content: space-between;
    
 
 }
 .shirt-container .star-cart .star{
     margin-left: 10px;
 }
 .addToCart{
    margin-right: 5%;
    width: 100px;
   height: 30px;
   
    
}
 .addToCart button{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
   
}
.addToCart button:hover{
    background-color: var(--hovercolor);
}
 /* .shirt-container .star-cart .cart{
    margin-right: 100px;
 } */

 /* .shirt-container .description{
     position: absolute;
     
 } */