@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.signininfo h5 h2 p{
    font-weight: 900;
}
.names{
    display: flex;
    width: 90%;
    justify-content: space-around;
    
    
}
.names .firstname{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.names .firstname input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.names .lastname{
    margin-left: 4%;
    width: 55%;
    height: 30px;
    
    
}
.names .lastname input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.email-password{
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: 10%;
}
.email-password .mail{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.email-password .mail input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.email-password .pass{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.email-password .pass input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.fone{
    margin-top: 5%;
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.fone input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none; 
}
.chk{
    margin-top: 3%;
    display: flex;
    margin-left: 4%;
    align-items: center;
}
