@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.registerInfo h5 h2 p{
    font-weight: 900;
}
.registerInfo .names{
    display: flex;
    width: 90%;
    justify-content: space-around;
    
    
}
.registerInfo .names .firstname{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.registerInfo .names .firstname input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.registerInfo .names .lastname{
    margin-left: 4%;
    width: 55%;
    height: 30px;
    
    
}
.registerInfo .names .lastname input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.registerInfo .email-password{
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: 10%;
}
.registerInfo .email-password .mail{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.registerInfo .email-password .mail input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.registerInfo .email-password .pass{
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.registerInfo .email-password .pass input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none;
}
.registerInfo .fone{
    margin-top: 5%;
    width: 55%;
    height: 30px;
    margin-left: 4%;
}
.registerInfo .fone input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-bottom-style: ridge;
    outline: none; 
}
.registerInfo .chk{
    margin-top: 3%;
    display: flex;
    margin-left: 4%;
    align-items: center;
}

/* Media Query */
@media (max-width:700px){
    .registerInfo{
        display: none;
    }

}
