
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.signininfo{
    background-color: #fff;
    width: 45%;
    height: 50%;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow:  0px 0px 20px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    
}

.signininfo .email{
    width: 80%;
    margin-top: 2%;
    height: 40px;
    margin-left: 30px;
    margin-right: 50px;
    
}


.signininfo .email input{
    width: 100%;
    margin-top: 2%;
    height: 100%;
    border: 0px;
    outline: none;
    border-bottom-style: ridge;
  
  
}
.signininfo .password{
    width: 80%;
    margin-top: 10%;
    height: 40px;
    margin-left: 30px;
    margin-right: 50px;
    
    
}
.signininfo .password input{
    width: 100%;
    margin-top: 2%;
    height: 100%;
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.signininfo .check{
    width: 80%;
    margin-top: 10%;
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.signininfo .signin{
    width: 80%;
    height: 40px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    margin-left: 30px;
    margin-right: 50px;
    
}

.signininfo .signin button{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    color: #fff;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    

}
.signininfo h2{
    padding-top: 50px;
    text-align: center;
    color: var(--primary);
    font-weight: 900;
    font-size: 30px;
}
.signininfo h5{
    color: red;
    font-weight: 900;
    margin-left: 30px;
}
.signininfo p{
    text-align: center;
    color: var(--primary);
    font-weight: 900;
    cursor: pointer;
    font-size: 22px;
}
.signininfo p:hover{
    color: var(--hovercolor);
}