
.cart-container{
    background-color: rgb(243, 243, 243);
}
.headers{
    margin-left: 5%;
    width: 90%vw;
    height: 30px;
    margin-top: 5%;
    display: flex;
}

.item{
    flex: 2;
}
.dsc{
    flex: 5;
}
.qty{
    flex: 1;
   
}
.unitprice{
    flex: 2;
}
.subtotal{
    flex: 2;
}
.cartItems-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%vw;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    
}
.cartItems-wrapper img{
    flex: 2;
    height: 200px;
    overflow: hidden;
}
.subt{
    background-color: var(--primary);
    width: 30%;
    height: 50%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.cartItems-wrapper .dsc-wrapper{
    flex: 5;
}
.cartItems-wrapper .dsc-wrapper h3:last-child{
 cursor: pointer;
}
.cartItems-wrapper p:first-child{
 text-align: right;
 background-color: red;
}
.cartItems-wrapper select{
    flex: 1;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 5px ridge;
}
.cartItems-wrapper p{
    flex: 2;
    font-size: 20px;
    margin-left: 10%;
}
.total{
    display: flex;
    position: relative;
    justify-content: flex-start;
    /* margin-top: 2%; */
    margin-right: 5%;
    width: 25%;
    float: right;
    /* background-color: rgb(211, 207, 207); */
}
.total h2{
    margin-right: 30%;
}