.navElements{
    background-color: #fff;
    position: sticky;
    top:0px;
    z-index: 5;
   
}
a{
 text-decoration: none;
}
.ms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-open{
    font-size: 25px;
    font-weight: 900;
    color: var(--primary);
    cursor: pointer;
    display: none;
}
.nav-open:hover{
    color: var(--hovercolor);
}
@media (max-width:799px) {
    .nav-open{
        display: block;
    }
}