.mobile input{
    width: 250px;
    height: 40px;
    border-radius: 25px;
    outline: none;
}

.ms input:focus{
    border-color: var(--primary);
    transition: 1s;
}
.mobile{
    display: none;
}

@media (max-width:799px) {
    .mobile{
        display: block;
    }
    
}