.burger-nav{
    font-size: 25px;
    font-weight: 900;
    color: var(--primary);
    display: flex;
}
.burger-nav:hover{
    color: var(--hovercolor);
}
.ms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-close{
    display: none;
}
.nav-open{
    display: none;
}
@media (max-width:799px) {
    .nav-open{
        display: block;
    }
}