.burger-nav{
    font-size: 25px;
    font-weight: 900;
    color: var(--primary);
    display: flex;
}
.burger-nav:hover{
    color: var(--hovercolor);
}
.ms{
    display: flex;
    justify-content: center;
    align-items: center;
}