@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

input{
    width: 400px;
    height: 40px;
    border: none;
    border-bottom-style: ridge;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
}
input:focus{
    border-bottom-color: var(--primary);
    transition: 1s ease-in;
}
label{
    position: relative;
    left: -40px;
    color: var(--primary);
}
div h2{
    cursor: pointer;
}


@media (min-width:800px) {
    .navElements{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        box-shadow: 0px  2px rgba(0,0,0,0.2);
    }
    .icons{
        display: flex;
        justify-content: space-between;
        
    }
 
}
@media (max-width:799px) {
    .search{
        display: none;
    }
    .navElements{
       display: flex;
       justify-content: space-between;
       align-items: baseline;
    }
    .icons{
        display: flex;
    }
}

